<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

  <body>
    <h1><%= title %></h1>

    <h3>Bienvenidos a Productos</h3>

    <ul class="left-navbar">
      <li><a href="/product/list"><button type="submit" class="List-button">Listar Productos para editar or borrar</button></a></li>
      <br>
      <li><a href="/product/create"><button type="submit" class="Create-button">Cargar Productos</button></a></li>
    </ul>
           
    
  </body>
</html>
